@page "/oversigt/liste"

<div class="headline">
  <h2>Min Ønskeliste</h2>
  <div>
    <a href="oversigt/opret">Opret Ønske</a>
        <button onclick="share()">Del Ønskeliste</button>
  </div>
</div>

<p class="description">Min super seje ønskeliste med de ønsker jeg har til julegaver.</p>
<h3>Ønsker</h3>

<!--Wish wrapper-->
<div class="wish-wrapper">

  <div class="wish">
    <div class="wish-img">
      <img src="wishimgs/controller.png" alt="PS5 controller" />
    </div>
    <div class="wish-text">
      <p>PS5 controller</p>
      <p>Jeg ønsker mig den i grøn.</p>
      <p class="wish-price">500 kr</p>
      <div class="wish-links">
        <a href="https://www.pricerunner.dk/pl/165-3200095859/Spil-controllere/Sony-PS5-DualSense-Wireless-Controller-White-Black-Sammenlign-Priser" target="_blank">Link</a>
        <a href="oversigt/rediger">Rediger</a>
        <button>Slet</button>
      </div>
    </div>
  </div>

  <div class="wish">
    <div class="wish-img">
      <img src="wishimgs/controller.png" alt="PS5 controller" />
    </div>
    <div class="wish-text">
      <p>PS5 controller</p>
      <p>Jeg ønsker mig den i grøn.</p>
      <p class="wish-price">500 kr</p>
      <div class="wish-links">
        <a href="https://www.pricerunner.dk/pl/165-3200095859/Spil-controllere/Sony-PS5-DualSense-Wireless-Controller-White-Black-Sammenlign-Priser" target="_blank">Link</a>
        <a href="oversigt/rediger">Rediger</a>
        <button>Slet</button>
      </div>
    </div>
  </div>

  <div class="wish">
    <div class="wish-img">
      <img src="wishimgs/controller.png" alt="PS5 controller" />
    </div>
    <div class="wish-text">
      <p>PS5 controller</p>
      <p>Jeg ønsker mig den i grøn.</p>
      <p class="wish-price">500 kr</p>
      <div class="wish-links">
        <a href="https://www.pricerunner.dk/pl/165-3200095859/Spil-controllere/Sony-PS5-DualSense-Wireless-Controller-White-Black-Sammenlign-Priser" target="_blank">Link</a>
        <a href="oversigt/rediger">Rediger</a>
        <button>Slet</button>
      </div>
    </div>
  </div>

  <div class="wish">
    <div class="wish-img">
      <img src="wishimgs/controller.png" alt="PS5 controller" />
    </div>
    <div class="wish-text">
      <p>PS5 controller</p>
      <p>Jeg ønsker mig den i grøn.</p>
      <p class="wish-price">500 kr</p>
      <div class="wish-links">
        <a href="https://www.pricerunner.dk/pl/165-3200095859/Spil-controllere/Sony-PS5-DualSense-Wireless-Controller-White-Black-Sammenlign-Priser" target="_blank">Link</a>
        <a href="oversigt/rediger">Rediger</a>
        <button>Slet</button>
      </div>
    </div>
  </div>

</div>