@page "/oversigt/opretliste"

<div class="headline">
    <h2>Opret Ønskeliste</h2>
    <div>
        <a href="oversigt/oversigt">Annuller</a>
    </div>
</div>

<form>
    <label for="listname">Ønskeliste navn</label>
    <input type="text" name="listname" id="listname" required>

    <label for="description">Beskrivelse</label>
    <textarea name="description" id="description"></textarea>

    <input type="submit" value="Opret">
</form>

