@page "/oversigt/oversigt"

<div class="headline">
    <h2>Mine Ønskelister</h2>
    <div>
        <a href="oversigt/opretliste">Opret Ønskeliste</a>
    </div>
</div>

<!--Wishlist-->
<div class="wishlist-wrapper">
    <div class="wishlist">
        <p class="listheader">Ønskelistenavn</p>
        <p class="listdescription">Min nye ønskeseddel til min fødselsdag.</p>
        <p class="wishcount">Ønsker: 6</p>
        <div class="wishlist-links">
            <a href="oversigt/liste">Se Liste</a>
            <a href="oversigt/redigerliste">Rediger</a>
            <button>Slet</button>
        </div>
    </div>

    <div class="wishlist">
        <p class="listheader">Ønskeliste 2</p>
        <p class="listdescription">Min super seje ønskeseddel til min fødselsdag.</p>
        <p class="wishcount">Ønsker: 12</p>
        <div class="wishlist-links">
            <a href="oversigt/liste">Se Liste</a>
            <a href="oversigt/redigerliste">Rediger</a>
            <button>Slet</button>
        </div>
    </div>

    <div class="wishlist">
        <p class="listheader">Min ønskeliste</p>
        <p class="wishcount">Ønsker: Ingen</p>
        <div class="wishlist-links">
            <a href="oversigt/liste">Se Liste</a>
            <a href="oversigt/redigerliste">Rediger</a>
            <button>Slet</button>
        </div>

    </div>

    <div class="wishlist">
        <p class="listheader">Ønskeliste</p>
        <p class="wishcount">Ønsker: 2</p>
        <div class="wishlist-links">
            <a href="oversigt/liste">Se Liste</a>
            <a href="oversigt/redigerliste">Rediger</a>
            <button>Slet</button>
        </div>
    </div>
</div>

