@page "/oversigt/redigerliste"

<div class="headline">
    <h2>Rediger Ønskesedel</h2>
    <div>
        <a href="oversigt/oversigt">Annuller</a>
    </div>
</div>

<form>
    <label for="listname">Ønskeliste navn</label>
    <input type="text" name="listname" id="listname" value="Min Ønskesedel" required>

    <label for="description">Beskrivelse</label>
    <textarea name="description" id="description">Min nye ønskesedel til min fødselsdag.</textarea>

    <input type="submit" value="Gem">
</form>




