@page "/"

<!--Landingpage-->
<div class="landingpage">
    <div>
        <h2>Hej og velkommen til Ønskeportalen</h2>
        <h3>Ønskeportalen gør det nemt for dig at gemme og dele ønskerlister med familie og venner.</h3>
    </div>
    <div>
        <img src="gfx/gift.png" alt="Blå gave med rødtbånd" />
    </div>
</div>
