@page "/hjaelp"

<div class="headline">
    <h2>Hjælp</h2>
</div>

<div class="help">
  <p>For at anvende Ønskeportal skal du starte med at logge ind, hvis du ikke har et login skal du først tilmelde dig.</p>
  <p>På Oversigtssiden kan du oprette dine ønskelister, du kan også se dine ønsker og redigere din ønskeliste.</p>
  <p>For at dele en ønskeliste skal du trykke på "se liste" og derefter på den blå knap "Del Ønskeliste" også sender du linket til den / de personer du ønsker at dele den med.</p>
  <p>På siden "Delt Med Mig" kan du se de ønskerlister som folk har delt med dig, du kan trykke på "Se liste" for at resservere et ønske.</p>
  <p>Hvis et ønske er resserveret af en anden kan du ikke også resservere det.</p>
  <p>På "Min Profil" kan du ændre dine login oplysninger.</p>
</div>
