@page "/om"

<div class="headline">
    <h2>Om os</h2>
</div>

<div class="om-wrapper">

    <div>
        <p>
            Vi er to studerende der er i gang med uddannelsen Datatekniker med speciale i programmering. Vi arbejder rigtig godt sammen, og derfor har vi valgt at lave vores svendeprøve projekt sammen.
        </p>
        <p>
            Lasse er rigtig glad for at lave frontend arbejde og går meget op i design og brugervenlighed. Han arbejder oftest med HTML, CSS, JavaScript, PHP og MySQL.
        </p>
        <p>
            Mick er også rigtig glad for at lave frontend arbejde og går meget op i at designet er minimalistisk og funktionelt. Han arbejder oftest med HTML, CSS, JavaScript, PHP og MySQL.
        </p>
    </div>
    <div>
        <img src="../gfx/os.png" alt="Mick og Lasse, ide mændene bag Ønskeportalen." />
    </div>
</div>
