/*Body*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    --featured-img: linear-gradient(120deg,#fff,#1d1d1d);
    background-image: radial-gradient(50% 50% at top center,rgba(0,0,0,.70),#1d1d1d),var(--featured-img);
    background-repeat: no-repeat;
}


/*Page wrapper*/
.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}


/*Header*/
.main-header {
    border-bottom: 2px solid #c69b4f;
    position: fixed;
    min-width: 100%;
    font-weight: bold;
    padding: 8px 15px;
}

.main-header .navbar-brand {
    font-size: 1.6em;
}

.main-header img {
    width: 45px;
    border-radius: 100%;
}

.testwrap{
    display: flex;
    justify-content: space-between;
}


/*Navigator*/
.nav-link {
    color: #c69b4f !important;
}


/*Main*/
.main-content {
    margin-top: 80px;
    min-height: 75vh;
}


/*Banner*/
.banner {
    background-image: url('../img/home-background.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 85vh;
    margin-top: -80px;
    width: 100%;
}


/*Overlay*/
.overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 85vh;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
}

.overlay h1 {
    font-weight: bold;
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 60px;
    margin-top: 86.6px;
}

.overlay a {
    min-width: 10px;
    font-size: 1.5em;
    display: block;
    border-radius: 20px;
    text-align: center;
    padding: 8px 22px;
    font-weight: bold;
}


/*Footer*/
footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: auto;
    min-height: 15vh;
    border-top: 2px solid #c69b4f;
    padding-top: 2px;
    min-width: 100%;
}

footer p {
    color: #999;
    margin-bottom: 0;
    font-size: 1em;
}

footer > a {
    font-size: 1.2rem;
    font-weight: bold;
}

footer a:hover {
    color: #c69b4f;
}

footer ul {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
}

footer ul li {
    margin: 0 10px;
    padding: 0 10px;
}

footer ul li a {
    font-weight: bold;
    font-size: 1.2em;
}


/*Accrodion*/
.accordion-wrapper {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.accordion-wrapper h3 {
    font-size: 3em;
    margin-bottom: 20px;
    text-align: center;
}

.accordion-wrapper .accordion-item {
    margin-bottom: 20px;
}

.accordion-wrapper .accordion-button {
    color: #111 !important;
    background-color: #c69b4f !important;
    font-size: 1.4rem;
    padding: 25px 20px;
    position: unset;
}

.accordion-wrapper .accordion-body {
    color: #111 !important;
    background-color: #d1af72 !important;
    font-size: 1.4rem;
}

.accordion-wrapper .accordion-item {
    border: none;
}

.accordion-button:not(.collapsed) {
    box-shadow: none;
}

.accordion-item:first-of-type,
.accordion-item:first-of-type .accordion-button {
    border-radius: 0px;
}


/* Scrollbar styles */
::-webkit-scrollbar {
    width: 10px;
    height: 12px;
    border-left: 1px solid #c69b4f;
    border-right: 1px solid #c69b4f;
}

::-webkit-scrollbar-track {
    width: 2px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background: #c69b4f;
    border-radius: 5px;
    max-height: 20px;
}

    ::-webkit-scrollbar-thumb:hover {
        background: #c69b4f;
    }

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}


/*Wrapper*/
.content-container {
    margin: 0 auto;
    padding: 20px;
}

.content-container h3 {
    font-size: 3em;
    margin-bottom: 40px;
    text-align: center;
    margin-top: 20px;
}


/*About*/
.about-wrapper > div > div {
    margin-bottom: 1.5rem;
}

.about-wrapper > div > div > div {
    padding: 20px;
    border-radius: 20px;
    min-height: 100%;
}

.about-wrapper h4 {
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 8px;
}

.about-wrapper p {
    font-size: 1.2rem;
    letter-spacing: 1.1px;
    line-height: 1.5em;
    margin-bottom: 0;
}


/*Mobile-mneu*/
.mobile-menu {
    font-size: 3em;
    display: none;
}

.mobile-menu span {
    cursor: pointer;
}


/*Dashboard*/
.dashboard-wrapper > div {
    margin-bottom: 50px;
}

.dashboard-wrapper h4 {
    font-size: 1.8rem;
}

.dashboard-wrapper .dashboard-header {
    border-bottom: 2px solid #c69b4f;
    margin-bottom: 25px;
    padding-bottom: 5px;
    align-items: flex-end;
}

.dashboard-wrapper .dashboard-header-column {
    flex-direction: column !important;
}

.dashboard-wrapper .dashboard-header-column .col:first-child {
    order: 2;
    margin-top: 1.5rem;
}

.dashboard-wrapper .dashboard-header .options-header a,
.dashboard-wrapper .dashboard-header .options-header button {
    font-size: 1.3rem;
    margin-left: 10px;
    text-align: center;
    transition: all 0.4s ease-in-out;
    min-width: 100px;
    padding: 8px 10px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    font-weight: bold;
    justify-content: center;
}

.dashboard-wrapper .dashboard-header .options-header a span,
.dashboard-wrapper .dashboard-header .options-header button span {
    margin-left: 10px;
}

.dashboard-wrapper > div > div:last-child > div {
    margin-bottom: 1.5rem;
}

.dashboard-wrapper .wish-wrapper {
    transition: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dashboard-wrapper .wish-wrapper:hover {
    background-color: #111;
    border-color: #c69b4f;
}

.dashboard-wrapper .wish-wrapper:hover p {
    color: #c69b4f;
}

.dashboard-wrapper .wish-wrapper .wish-img {
    height: 380px;
    width: 100%;
    border: 1px solid #111;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: transparent;
}

.dashboard-wrapper .wish-wrapper .wish-text {
    border: none;
    border-radius: 0;
    padding: 20px;
    background-color: transparent;
}

.dashboard-wrapper .wish-wrapper .wish-text p {
    margin-bottom: 10px;
    font-size: 1.6rem;
    padding: 0;
}

.dashboard-wrapper .wish-wrapper .wish-text p:last-child {
    margin-bottom: 0;
}

.dashboard-wrapper .wish-wrapper .wish-text a {
    font-size: 1.6rem;
    background-color: #c69b4f;
    display: block;
    min-width: 100px;
    color: #111;
    padding: 4px;
    text-align: center;
    border-radius: 0.4em;
    font-weight: bold;
}

.dashboard-wrapper .wish-wrapper .wish-options {
    display: flex;
    margin-top: 1.5rem;
    justify-content: space-between;
    border: none;
}

.dashboard-wrapper .wish-wrapper .wish-options:hover {
    background-color: #111;
}

.dashboard-wrapper .wish-wrapper .wish-options a:first-child {
    margin-right: 0.75rem;
}

.dashboard-wrapper .wish-wrapper .wish-options a:last-child {
    margin-left: 0.75rem;
}

.dashboard-wrapper .new-wishlist {
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 4rem;
    transition: color 0.4s ease-in-out;
}


/*Shared*/
.shared-wrapper .wish-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.shared-wrapper .wish-img p {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    text-align: center;
    padding: 0;
    line-height: 5.2rem;
    font-weight: bold;
    font-size: 2rem;
    border-top: 1px solid #c69b4f;
    border-bottom: 1px solid #c69b4f;
}

.dashboard-wrapper .dashboard-header div {
    display: flex;
    justify-content: flex-end;
}

.dashboard-wrapper > div > div > div div {
    border-radius: 10px;
    min-height: 100%;
    transition: all 0.4s ease-in-out;
}

.dashboard-wrapper > div > div > div div:hover {
    background-color: #c69b4f;
    border-color: #111;
}

.dashboard-wrapper > div > div > div div:hover p,
.dashboard-wrapper > div > div > div div:hover .new-wishlist {
    color: #111;
}

.dashboard-wrapper > div > div > div .wish-link {
    background-color: #c69b4f;
    display: block;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    padding: 10px;
    font-size: 1.6rem;
    text-align: center;
    color: #111;
    border-top: 2px solid #c69b4f;
    font-weight: bold;
    transition: all 0.4s ease-in-out;
}

.dashboard-wrapper > div > div > div .wish-link:hover {
    background-color: #111;
    color: #c69b4f;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.dashboard-wrapper > div > div > div a p {
    padding: 10px;
    font-size: 1.6em;
    margin-bottom: 0;
    transition: all 0.4s ease-in-out;
}

.dashboard-wrapper > div > div > div a p:first-child {
    padding-bottom: 0;
}


/*Popup*/
.popup-overlayer {
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
}

.share-popup {
    background-color: #111;
    min-height: 200px;
    min-width: 620px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding-bottom: 1.5rem;
    display: none;
}

.share-popup .closeBtn {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}

.share-popup .closeBtn span {
    font-size: 3rem;
    width: 40px;
    line-height: 40px;
    text-align: center;
}

.share-popup p {
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
}

.share-popup button {
    width: 100%;
    display: block;
    font-size: 1.6rem;
}

.facebook-share-wrapper {
    cursor: pointer;
    max-width: 600px;
    padding: 20px 20px;
    margin: 0 auto;
}

#fb-share-button {
    border: 2px solid #c69b4f;
    transition: all 0.4s ease-in-out;
    width: 100%;
    line-height: 0px;
    font-size: 1.6rem;
    padding: 22px 10px;
    border-radius: 0.4rem;
    margin-bottom: 0px;
}

/*Wishes*/
.wish-links {
    display: flex;
    justify-content: flex-end;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 1.5rem;
}

.wish-links a,
.wish-links button {
    font-size: 1.3rem;
    margin-left: 10px;
    text-align: center;
    transition: all 0.4s ease-in-out;
    min-width: 100px;
    padding: 8px 10px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    font-weight: bold;
    justify-content: center;
}

.wish-links a span {
    margin-left: 10px;
}

.wishes-wrapper {
    max-width: 800px;
    margin: 0 auto;
    border-radius: 10px;
    transition: all 0.4s ease-in-out;
    padding-bottom: 0px;
}

.wishes-wrapper p {
    font-size: 1.6rem;
    padding: 0 1.5rem;
}

.wishes-wrapper .wish-img {
    width: 100%;
    min-height: 460px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    margin-bottom: 1.5rem;
}

.wishes-wrapper .wish-text .wish-link {
    background-color: #c69b4f;
    display: block;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    padding: 10px;
    font-size: 1.6rem;
    text-align: center;
    color: #111;
    border-top: 2px solid #c69b4f;
    font-weight: bold;
    transition: all 0.4s ease-in-out;
}

.wishes-wrapper .wish-text .wish-link:hover {
    background-color: #111;
    color: #c69b4f;
}

/*toastr*/
.toast {
    margin-top: 7px !important;
    font-size: 1.5rem;
    min-width: 90%;
    opacity: 1 !important;
}
