/*Form*/
.form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.form-container h3 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 40px;
    margin-top: 20px;
}

.form-container input,
.form-container textarea {
    margin-bottom: 10px;
    font-size: 1.6em;
}

.form-container label {
    margin-bottom: 6px;
    color: #c69b4f;
    display: block;
    font-size: 1.6em;
}

.form-container input,
.form-container button,
.form-container textarea {
    padding: 10px;
    color: #c69b4f;
    border: 2px solid #c69b4f;
    border-radius: 0.4rem;
    background-color: #000;
}

.form-container textarea {
    resize: none;
    min-height: 200px;
    padding: 10px;
}

.form-container input[type="file"] {
    width: 100%;
    padding: 0;
    cursor: pointer;
}

.form-container input::file-selector-button {
    background-color: #c69b4f;
    padding: 8.4px 20px;
    cursor: pointer;
}

.form-container input[type='submit'],
.form-container button {
    color: #111;
    border: 2px solid #c69b4f;
    transition: all 0.4s ease-in-out;
    width: 100%;
    line-height: 0px;
    font-size: 1.6rem;
    background-color: #c69b4f;
    padding: 30px;
    margin-top: 10px;
}

.form-container input[type='submit']:hover,
.form-container button:hover {
    background-color: #111;
    color: #c69b4f;
    border-color: #c69b4f;
}

.form-container .link-container {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-container .link-container a {
    font-size: 1.2em;
}

.form-container .btn {
    font-weight: bold;
}

.form-container .btn-danger {
    transition: all 0.4s ease-in-out;
    line-height: 0px;
    font-size: 1.6rem;
    padding: 22px 10px;
    border: 2px solid #dc3545;
}

.form-container .btn-danger:hover {
    background-color: #a71d2a;
    border-color: #a71d2a;
}

.form-container .upload-img {
    height: 300px;
    margin-bottom: 10px;
    border: 2px solid #c69b4f;
    border-radius: 0.4rem;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
