/*Media Queries*/
@media only screen and (max-width: 640px) {
    

    .share-popup {
        min-width: 90%;
    }
}

@media only screen and (max-width: 639px) {
    .dashboard-header .col:first-child {
        order: 2;
    }

    .dashboard-header .col:last-child button,
    .dashboard-header .col:last-child a {
        margin-left: 5px;
        margin-right: 5px;
    }
}

@media only screen and (max-width: 550px) {
    .dashboard-header .options-header {
        flex-wrap: wrap;
        justify-content: flex-end;
    }

    .dashboard-header .col:last-child button,
    .dashboard-header .col:last-child a {
        width: 50%;
        margin: 0;
        width: 48%;
        flex: none;
        margin-bottom: 1.5rem;
        margin-left: 1%;
        margin-right: 1%;
    }
}
