@page "/about"
@using Oenskeportalen_APP.Models;
@using Oenskeportalen_APP.Services;
<div class="content-container about-wrapper">
    <h3 class="default-text-color">Om Os</h3>
    <div class="row">
        <div class="col-md-6">
            <div class="default-background default-text-color default-border">
                <h4>Formål</h4>
                <p>Vores formål er at hjælpe dig med at oprette og dele dine ønskelister med familie og venner på en nem og overskuelig måde. Hos Ønskeportalen tror vi på, at vores brugere skal have frihed til at oprette gratis ønskelister og dele dem med deres familie og venner.</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="default-background default-text-color default-border">
                <h4>Brugervenlighed</h4>
                <p>Vi er stolte af at have en nem og overskuelig brugergrænseflade på alle enheder, der gør det let for alle at bruge vores side. Vores design er enkelt og intuitivt, og vi har lagt stor vægt på at gøre det let for dig at finde de ønsker, du gerne vil tilføje til din liste.</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="default-background default-text-color default-border">
                <h4>Unikke funktioner</h4>
                <p>På Ønskeportalen kan du undgå at give den samme gave og sikre, at du giver den helt rigtige gave. Vi tror på, at vores brugere skal have mulighed for at oprette og dele gratis ønskelister, og vi har skabt en platform, der gør det nemt at finde de ønsker, du gerne vil give.</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="default-background default-text-color default-border">
                <h4>Kerneværdier</h4>
                <p>Vi tror på, at det kan være en udfordring at finde de rigtige gaver til dine kære, og vi ønsker at gøre det så nemt som muligt for dig. Hos Ønskeportalen er vores kerneværdier at gøre det nemt for dig at oprette og dele ønskelister og at hjælpe dig med at finde de helt rigtige gaver.</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="default-background default-text-color default-border">
                <h4>Teamet</h4>
                <p>Vores team består af dedikerede og erfarne fagfolk inden for webudvikling og design. Vi arbejder sammen om at skabe en bedre oplevelse for dig som bruger og sørge for, at du får mest muligt ud af vores platform. Vi er stolte af vores nemme og overskuelige design, som vi håber vil hjælpe en masse mennesker med at få deres ønsker opfyldt.</p>
            </div>
        </div>
    </div>
</div>
@code{
    readonly IAbout _about = new AboutService();
   //AboutUs aboutUs = about.getAbout();
}