@page "/faq"
<div class="content-container about-wrapper">
    <h3 class="default-text-color">FAQ</h3>
    <div class="row">
        <div class="col-md-6">
            <div class="default-background default-text-color default-border">
                <h4>Hvad er Ønskeportalen.dk</h4>
                <p>Ønskeportalen er dit sted, hvor du kan samle alle dine ønskelister.</p>
            </div>
        </div>
    </div>
</div>
