@page "/faq"
<div class="accordion accordion-wrapper content-container" id="faq">
    <h3 class="default-text-color">FAQ</h3>
    <div class="accordion-item">
        <h2 class="accordion-header" id="heading-1">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-1" aria-expanded="false" aria-controls="collapse-1">
                Hvad er Ønskeportalen.dk
            </button>
        </h2>
        <div id="collapse-1" class="accordion-collapse collapse" aria-labelledby="heading-1" data-bs-parent="#faq" style="">
            <div class="accordion-body">
                Ønskeportalen er dit sted, hvor du kan samle alle dine ønskelister.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="heading-5">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-5" aria-expanded="false" aria-controls="collapse-5">
                Hvordan bruges ønskeportalen?
            </button>
        </h2>
        <div id="collapse-5" class="accordion-collapse collapse" aria-labelledby="heading-5" data-bs-parent="#faq" style="">
            <div class="accordion-body">
                kommer snart
            </div>
        </div>
    </div>
</div>