@page "/"

<div class="banner">
    <div class="overlay">
        <h1 class="default-text-color">Velkommen til Ønskeportalen</h1>
        <NavLink class="nav-link default-hover-effect" href="dashboard">
            Opret Ønskeliste
        </NavLink>
    </div>
</div>