@page "/login"
<div class="form-container default-text-color">
    <h3>Login</h3>
    <form method="post" accept-charset="utf-8" action="/users/login">
        <div style="display:none;">
            <input type="hidden" name="_csrfToken" autocomplete="off" value="NQkUuAXUSbRfnN5n8gd/t/6PcNSFCewb4dnkzhb2Yd+3g40iB+WjWnc+i576SfK8wVo5k2b/0S4kWAO+d3gxClBZHh6GUu7byL5C47Q72X6Autf/d5cCu4W7vBpl0cA+EQe4/Zh+wtj5bQ6mV5zlTw==">
        </div>    
        <fieldset>
            <div class="input email required">
                <label for="email">Email</label>
                <input type="email" name="email" required="required" id="email" aria-required="true">
            </div>
            <div class="input password required">
                <label for="password">Password</label>
                <input type="password" name="password" required="required" id="password" aria-required="true">
            </div>
        </fieldset>
        <div class="submit"><input type="submit" value="Login"></div>    
        <div style="display:none;">
            <input type="hidden" name="_Token[fields]" autocomplete="off" value="12685e5a4a5a7c217a92c4890551ef70a6f5fc33%3A">
            <input type="hidden" name="_Token[unlocked]" autocomplete="off" value="">
        </div>
    </form>
    <div class="link-container">
        <a href="/register" class="link">Har du ikke en bruger så registrer dig her</a>
    </div>

    <div class="link-container">
        <a href="/forgot" class="link">Glemt password ?</a>
    </div>
</div>

