@inherits LayoutComponentBase

<header class="main-header default-background">
    <NavMenu />
</header>

<main class="main-content">
    <div class="container-fluid">
        @Body
    </div>
</main>

<footer class="default-background">
    <a class="default-text-color" href="/"><span>Ønskeportalen</span></a>
    <p>Copyright © 2023 Ønskeportalen</p>
    <ul>
        <li><a class="default-text-color" href="/faq">FAQ</a></li>
        <li><a class="default-text-color" href="/about">Om os</a></li>
        <li><a class="default-text-color" href="mailto:noreply.oenskeportalen@gmail.com">Kontakt</a></li>
    </ul>
</footer>
