<div class="testwrap">
    <div>
        <a class="navbar-brand default-text-color" href="">
            <img src="/img/logo.webp" alt="logo" />
            Ønskeportalen
        </a>
    </div>
    <div class="top-row ps-3 navbar default-background navbar-dark">
        <button title="Navigation menu" class="navbar-toggler default-text-color" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>



<div class="@NavMenuCssClass thisonehere" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                Hjem
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="about">
                Om Os
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="faq">
                FAQ
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dashboard">
                Dashboard
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="login">
                Login
            </NavLink>
        </div>
    </nav>
    
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
